NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBSOAeCLalF5Ifo-z5nUWkhTpkivuu48EU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=chat-a8a88.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=chat-a8a88
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=chat-a8a88.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=488660186381
NEXT_PUBLIC_FIREBASE_APP_ID=1:488660186381:web:810b0d9705cf2a5fabec44